/*-------START VARIABLES----------*/

:root {
    --main-color: 25, 200, 250;
    /* RGB values of #19c8fa */
}


/*------start global rules---*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background-color: black;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}


@media (min-width: 768px) {
    .container {
        width: 750;
    }

}


@media (min-width: 929px) {
    .container {
        width: 970;
    }

}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

}

/*-----end global rules-----*/


/*----------------START HEADER--------------*/

header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 45px);

    left: 26px;

}

header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;

}

header nav ul li a {
    display: blocbk;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    padding: 10px 40px;
}

header nav ul li a:hover {
    color: blanchedalmond;
    padding: 15px 45px;
}

header nav ul li a:active {
    color: var(--main-color);

}

/* --------------END HEADER---------- */

/* ------------START LANDING--------- */

.landing {
    min-height: 100vh;
    background-color: #98c1ce;
    background-image: url("../images/1.jpg");
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 45%);
}



.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(var(--main-color), 0.5);



}

.landing .text>* {
    margin-left: 30%;
    padding: 15px;
}

.landing .text {
    text-align: justify;
}