/*-------START VARIABLES----------*/

:root {
    --main-color: 25, 200, 250;
    --section-padding: 100px;
    /* RGB values of #19c8fa */
}


/*------start global rules---*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;


}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;

}


@media (min-width: 768px) {
    .container {
        width: 750;
    }

}


@media (min-width: 929px) {
    .container {
        width: 970;
    }

}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

}

/*-----end global rules-----*/

/* -------START COMPONENT--------- */


.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
    color: #686767;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 20%;
    left: 40.5%;
    background-color: black;
    bottom: -30px;

}



.main-heading p {
    margin: 0 auto 70px;
    color: #777;
    max-width: 600px;
}

/* -----------END COMPONENT--------------- */

/*----------------START HEADER--------------*/
header {
    background-color: rgb(40, 102, 121);
}

header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 45px);

    left: 26px;

}

header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;

}

header nav ul li a {
    display: blocbk;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    padding: 10px 40px;
}

header nav ul li a:hover {
    color: blanchedalmond;
    padding: 15px 45px;
}

header nav ul li a:active {
    color: var(--main-color);

}

/* --------------END HEADER---------- */

/* ------------START LANDING--------- */

.landing {
    min-height: 100vh;
    background-color: #98c1ce;
    background-image: url("../images/1.jpg");
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 45%);
}



.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(var(--main-color), 0.5);
    text-align: justify;


}

.landing .text>* {
    margin-left: 30%;
    padding: 15px;
}

/* -------------------END LANDING---------------- */

/* ----------------START SERVICES------------------ */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.serv-box {
    display: flex;
    margin: 10px;

}

.services-container .text {
    position: relative;
    left: -30px;
}



.serv-box i {
    margin-right: 50px;
}

.serv-box h3 {
    margin-bottom: 15px;
    color: rgba(var(--main-color));
}

.serv-box p {
    color: #777;
}

/* --------------------END SERVICES--------------- */

/*---------------------------START video------------------------------------*/
.video {
    position: relative;

    margin: 50px 20px;
}

.video video {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.video .text {
    background-color: rgba(var(--main-color), 0.5);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;



}

.video .text h2 {
    color: white;
    justify-content: center;
    text-align: center;
    padding: 20px;

}

.video .text p {
    color: white;
    padding-bottom: 50px;
    font-size: 9px;
    text-align: center;
}

.video .text button {
    position: absolute;
    bottom: 15px;
    background-color: rgba(41, 41, 41, 0.973);
    color: white;
    font-size: 8px;
    width: 70px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
}



/* ---------end video-------- */

/* ------start about us-------- */

.about-us {
    position: relative;

}

.about-us .container {
    margin-bottom: -7px;
    padding-bottom: 0px;
}

.about-us img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;



}

/* ------------END ABOUT_US----------------- */

/* -------START STATISTIC_--------------- */

.statistic {
    background-image: url("../images/2.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
    height: 40vh;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
}

.statistic .container {
    position: absolute;
    display: flex;
    gap: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(var(--main-color), 0.5);
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 150px;

}

.statistic .container .box {
    width: 110px;
    justify-content: center;
    margin-bottom: 25px;
}

.statistic .container .box i {
    color: black;
    text-align: center;
    width: 100%;

}

.statistic .container .box h2 {
    text-align: center;
    color: white;
}

.statistic .container .box p {
    color: #dadada;
    text-align: center;
    width: 100%;
    font-size: small;
    white-space: nowrap;
    justify-content: center;
}

/* ------------------end statistic------------ */



/* ------------------start subscribe------------------ */

.subscribe {
    background-image: url("../images/3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.subscribe .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.subscribe form {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.subscribe form i {
    position: absolute;
    left: 15px;
    font-size: 30px;
    color: rgb(7, 7, 7);
    margin-top: 5px;
}

.subscribe form input[type="email"] {
    flex: 1;
    padding: 12px 20px 12px 45px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    outline: none;
}

.subscribe form input[type="submit"] {
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    background-color: rgba(255, 209, 102, 0.9);
    color: #000;
    font-weight: bold;
    cursor: pointer;

}

.subscribe form input[type="submit"]:hover {
    background-color: rgba(255, 209, 102, 1);
}

.subscribe p {

    font-size: large;
    color: #f0f0f0;
    margin: 0;
    padding: 0 25px;
}

/* --------------END SUBSCRIBE------------ */



/* -----START CONTACT_US --------------*/

.contact-us .section {
    margin: 30px 0px 0px 0px;
}

.contact-us .section p {
    margin-bottom: 50pxpx;
}

.contact-us form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us form>* {
    margin: 10px 30px;
    width: 70%;
    background-color: rgb(255, 254, 250);
    border-radius: 5px;
    border: 1px solid rgb(46, 46, 46);
    height: 55px;


}

.contact-us form input::placeholder {
    padding-left: 10px;
}


.contact-us form input[type="submit"] {
    width: 20%;
    background-color: rgba(255, 209, 102, 0.8);
    font-size: 20px;
}

.contact-us form input[type="submit"]:hover {

    background-color: rgba(255, 209, 102, 1);

}

.contact-us form textarea {
    height: 130px;
}

.contact-us form textarea::placeholder {
    padding: 15px 0px 0px 10px;
}

/* ----------------END CONTACT-US--------------- */

/* ---------START FOOTER---------------- */
.footer {
    background-color: rgb(40, 102, 121);
    color: #fff;
    padding: 30px 0;
    font-family: 'Open Sans', sans-serif;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-logo img {
    height: 40px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 0.9rem;
}

.footer-bottom p {
    margin: 0;
}

.social-icons a i {
    color: #000;
}

.social-icons a {
    display: inline-block;
    margin-left: 15px;
    font-size: 1.2rem;
}