/*-------START VARIABLES----------*/

:root {
    --main-color: 25, 200, 250;
    --section-padding: 100px;
    /* RGB values of #19c8fa */
}


/*------start global rules---*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;


}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;

}


@media (min-width: 768px) {
    .container {
        width: 750;
    }

}


@media (min-width: 929px) {
    .container {
        width: 970;
    }

}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

}

/*-----end global rules-----*/

/* -------START COMPONENT--------- */


.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 20%;
    left: 40.5%;
    background-color: black;
    bottom: -30px;

}



.main-heading p {
    margin: 0 auto 100px;
    color: #777;
}

/* -----------END COMPONENT--------------- */

/*----------------START HEADER--------------*/
header {
    background-color: black;
}

header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 45px);

    left: 26px;

}

header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;

}

header nav ul li a {
    display: blocbk;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    padding: 10px 40px;
}

header nav ul li a:hover {
    color: blanchedalmond;
    padding: 15px 45px;
}

header nav ul li a:active {
    color: var(--main-color);

}

/* --------------END HEADER---------- */

/* ------------START LANDING--------- */

.landing {
    min-height: 100vh;
    background-color: #98c1ce;
    background-image: url("../images/1.jpg");
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 45%);
}



.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(var(--main-color), 0.5);
    text-align: justify;


}

.landing .text>* {
    margin-left: 30%;
    padding: 15px;
}

/* -------------------END LANDING---------------- */

/* ----------------START SERVICES------------------ */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.serv-box {
    display: flex;
    margin: 10px;

}

.services-container .text {
    position: relative;
    left: -30px;
}



.serv-box i {
    margin-right: 50px;
}

.serv-box h3 {
    margin-bottom: 15px;
    color: rgba(var(--main-color));
}

.serv-box p {
    color: #777;
}